@import url('https://api.fonts.coollabs.io/css2?family=Inter:wght@400;600;700&display=swap');

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

:root.dark {
  --color-track: #7a7f9d;
  --color-track-hover: #4d547d;
  --color-thumb: #21295c;
}

:root.light {
  --color-track: #f0f0f0;
  --color-track-hover: #f6f6f6;
  --color-thumb: #d6d6d6;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-track);
}

::-webkit-scrollbar-thumb {
  background: var(--color-thumb);
}

::-webkit-scrollbar-track:hover {
  background: var(--color-track-hover);
}